<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<div class="container">

<nav class="navbar navbar-inverse navbar-static-top" ng-controller="navCtrl">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        <a class="navbar-brand"><b><font color="#FFFFFF">Movie Store</font></b>
        </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
      <li ng-class="{active:isActive('/')}"><a href="#">Home</a></li>
        <li ng-class="{active:isActive('/movies')}"><a href="#movies">Movies</a></li>
         <li ng-class="{active:isActive('/browse')}"><a href="#browse">Browse</a></li> 
            <li ng-class="{active:isActive('/contact')}"><a href="#contact">Contact</a></li>
          </ul>
    </div>
  </div>
</nav>
</div>
</body>
</html>