<!DOCTYPE html>
<html ng-app="myapp">
<head>
<meta charset="ISO-8859-1">
<title>AngularJS Assignment 1</title>
<link rel="stylesheet" type="text/css" href="resources/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="resources/css/bootstrap-theme.min.css">
<link rel="stylesheet" type="text/css" href="resources/css/mystyle.css">
<link rel="stylesheet" type="text/css" href="resources/css/animations.css">
</head>
<body  ng-controller="mycontroller">
<div class="container">

<nav class="navbar navbar-inverse navbar-static-top>
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header" >
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        <a class="navbar-brand"><b><font color="#FFFFFF">Search Engine</font></b>
        </a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
      
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Enter ZIP code" ng-model="zip">
          <input type="text" class="form-control" placeholder="Search Query" ng-model="searchquery">
        </div>
        <button type="submit" class="btn btn-primary" ng-click="searchresult()">search</button>
      </form>
      </ul>
    </div>
  </div>
  
  
  <div class="container">
  <div class="row">
  <div ng-repeat="d in details">
  <h3>{{d.query.results.Result[0].City}}</h3>
  	<div class="col-md-4" ng-repeat="r in d.query.results.Result">
  	<div class="thumbnail">     
		<div class="caption">
		<h4><font color="brown">{{r.Title}}</font></h4>
		<div class="design">
		<h6><b>Address:</b></h6>
		<h6>{{r.Address}}</h6>
		<h6>{{r.City}}</h6>
		<h6>{{r.State}}</h6>
		<h6>Distance : {{r.Distance}}mi</h6>
		</div>
		<h6>Contact : {{r.Phone}}</h6>
		<h6>Rating : {{r.Rating.AverageRating}}</h6>
		</div>
		
		<div>
		<map center="{{r.Latitude}},{{r.Longitude}}" zoom="6">
		<info-window position="{{r.Latitude}},{{r.Longitude}}" visible="true">
		<marker position="{{r.Latitude}},{{r.Longitude}}" on-click="click()">
		<h7><font color="brown">{{r.Title}}</font></h7><br>
		<h8>{{r.Address}}</h8></marker>
		</info-window>
		</map>
		</div>
		
		</div>
		
	</div>
  </div>
  </div>
  </div>
 
  
  

<div ng-include="'template/footer.html'"></div>
</body>
<script src="resources/js/jquery.min.js"> </script>
<script src="resources/js/bootstrap.min.js"> </script>
<script src="resources/js/angular.min.js"> </script>
<script src="resources/js/angular-route.min.js"> </script>
<script src="resources/js/animate.min.js"> </script>
<script src="//maps.google.com/maps/api/js"></script>
<script src="resources/js/ng-map.min.js"> </script>
<script src="resources/js/myapp.js"> </script>
</html>